.overlay-box {
  position: relative;

  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-bg-color;

  transform: translatey(105%);
  transition: transform $standart-animation;

  & > p {
    margin: 0;
    padding-left: 24px;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: $white-color;
  }
}
