$accent-color: #2196f3;
$hover-button-color: #188ce8;
$full-dark-color: #000000;
$dark-color: #212121;
$white-color: #ffffff;
$gray-color: #757575;
$features-background-color: #f5f4fa;
$social-icon-color: #afb1b8;
$footer-bg-color: #2f303a;
$client-border-color: #eeeeee;
$overlay-bg-color: rgba(33, 150, 243, 0.9);

$standart-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
